<launch>
  <group ns="RGB">
    <node pkg="uvc_camera" name="GoPro" type="uvc_camera_node" output="screen">
      <param name="device" type="string" value="/dev/video0"/>
      <param name="width" type="int" value="1024"/>
      <param name="height" type="int" value="768"/>
      <param name="frame_id" value="GoPro"/>
      <param name="fps" value="30"/>
    </node>
  </group>

  <node name="sight" pkg="img_recog" type="sight.py" output="screen"/>

</launch>

<?ignore v4l2-ctl --list-devices?>
